.sideDrawer {
    height: 100%;
    background: white;
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    z-index: 200;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
  }
  .sideDrawer.open {
    transform: translateX(0);
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .sideDrawer {
      width: 50%;
    }
  }
  
  @media (min-width: 320px) and (max-width: 480px) {
    .sideDrawer {
      width: 70%;
    }
  }
  
  .phenom {
    margin-left: 40px;
    min-height: 32px;
    padding: 8px 0;
    position: relative;
  }
  
  
  .member {
    background-color: #dfe1e6;
    border-radius: 25em;
    color: #172b4d;
    cursor: pointer;
    display: block;
    float: left;
    height: 32px;
    margin: 0 4px 4px 0;
    overflow: visible;
    position: relative;
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none;
    width: 32px;
    z-index: 0;
  }
  
  .memberInitials {
    display: block;
    font-size: 12px;
    font-weight: 700;
    height: 32px;
    left: 0;
    line-height: 32px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
  }
  
  .phenom.modAttachmentType .phenomDesc,
  .phenom.modCommentType .phenomDesc {
    display: block;
  }
  
  .phenomDesc {
    word-wrap: break-word;
    margin: 0;
  }
  
  .inlineMember {
    cursor: pointer;
  }
  
  .phenom.modAttachmentType .phenomMeta,
  .phenom.modCommentType .phenomMeta {
    display: block;
  }
  
  .phenomMeta {
    display: inline-block;
    font-size: 12px;
    margin: 0;
    min-width: 110 px;
  }
  .quiet,
  .quiet a {
    color: #5e6c84;
  }
  
  .phenomCreator {
    height: 32px;
    left: -40px;
    position: absolute;
    top: 8px;
    width: 32px;
  }
  